# Laravel & System ignores
ecommerce8/vendor/
ecommerce8/node_modules/
ecommerce8/public/storage
ecommerce8/storage/*.key
ecommerce8/.env
.phpunit.result.cache

# Binary and Large files
*.zip
*.rar
*.gz
*.tar
*.7z
*.sql
*.exe
*.log
